/data/*
!/data/serve/
!/data/serve/**
/agent/ # codex chat history .md

# temp folder and files
**/temp/
**/temp.*
**/tmp/

# hydra
/outputs/
/multirun/

# OpenAI Sites 
/site/node_modules/
/site/public/
/site/dist/
/site/.wrangler/

# compile file
**/.asv
**/__pycache__/
**/.idea/
**/.DS_Store
