/data/*
!/data/serve/
!/data/serve/**

# temp folder and files
**/temp/
**/temp.*
**/tmp/

# hydra
/outputs/
/multirun/

# Sites deployment output
/site/node_modules/
/site/public/
/site/dist/
/site/.wrangler/

# compile file
**/.asv
**/__pycache__/
**/.idea/
**/.DS_Store
